In [172]:
import sys
import pandas as pd
import sklearn
import keras

print 'Python: {}'.format(sys.version)
print 'Pandas: {}'.format(pd.__version__)
print 'Sklearn: {}'.format(sklearn.__version__)
print 'Keras: {}'.format(keras.__version__)

Python: 2.7.16 |Anaconda, Inc.| (default, Mar 14 2019, 15:42:17) [MSC v.1500 64 bit (AMD64)]
Pandas: 0.24.2
Sklearn: 0.20.3
Keras: 2.1.4

In [173]:
#Importing the autism data
file = 'Autism-Child-Data.txt'

#Reading the file into the notebook
data = pd.read_csv(file, sep=',', index_col=None)

In [174]:
print 'Shape of DataFrame: {}'.format(data.shape)
print data.loc[0]

Shape of DataFrame: (292, 21)
A1_Score                               1
A2_Score                               1
A3_Score                               0
A4_Score                               0
A5_Score                               1
A6_Score                               1
A7_Score                               0
A8_Score                               1
A9_Score                               0
A10_Score                              0
age                                    6
gender                                 m
ethnicity                         Others
jundice                               no
family_history_of_autism              no
contry_of_res                     Jordan
used_app_before                       no
result                                 5
age_desc                    '4-11 years'
relation                          Parent
class/ASD                             NO
Name: 0, dtype: object

In [175]:
#Dropping unwanted columns
data = data.drop(['result', 'age_desc'], axis=1)
# print out first 11 patients
data.loc[:10]

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,age,gender,ethnicity,jundice,family_history_of_autism,contry_of_res,used_app_before,relation,class/ASD
0,1,1,0,0,1,1,0,1,0,0,6,m,Others,no,no,Jordan,no,Parent,NO
1,1,1,0,0,1,1,0,1,0,0,6,m,'Middle Eastern ',no,no,Jordan,no,Parent,NO
2,1,1,0,0,0,1,1,1,0,0,6,m,?,no,no,Jordan,yes,?,NO
3,0,1,0,0,1,1,0,0,0,1,5,f,?,yes,no,Jordan,no,?,NO
4,1,1,1,1,1,1,1,1,1,1,5,m,Others,yes,no,'United States',no,Parent,YES
5,0,0,1,0,1,1,0,1,0,1,4,m,?,no,yes,Egypt,no,?,NO
6,1,0,1,1,1,1,0,1,0,1,5,m,White-European,no,no,'United Kingdom',no,Parent,YES
7,1,1,1,1,1,1,1,1,0,0,5,f,'Middle Eastern ',no,no,Bahrain,no,Parent,YES
8,1,1,1,1,1,1,1,0,0,0,11,f,'Middle Eastern ',no,no,Bahrain,no,Parent,YES
9,0,0,1,1,1,0,1,1,0,0,11,f,?,no,yes,Austria,no,?,NO
10,1,0,0,0,1,1,1,1,1,1,10,m,White-European,yes,no,'United Kingdom',no,Self,YES

In [176]:
# Printing out a dataframe description
data.describe()

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score
count,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000
mean,0.633562,0.534247,0.743151,0.551370,0.743151,0.712329,0.606164,0.496575,0.493151,0.726027
std,0.482658,0.499682,0.437646,0.498208,0.437646,0.453454,0.489438,0.500847,0.500811,0.446761
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000
75%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [177]:
data.dtypes

A1_Score                     int64
A2_Score                     int64
A3_Score                     int64
A4_Score                     int64
A5_Score                     int64
A6_Score                     int64
A7_Score                     int64
A8_Score                     int64
A9_Score                     int64
A10_Score                    int64
age                         object
gender                      object
ethnicity                   object
jundice                     object
family_history_of_autism    object
contry_of_res               object
used_app_before             object
relation                    object
class/ASD                   object
dtype: object

In [178]:
# Creating X (used for prediction) Y (Whether they have Autism) sets for training.
prediction = data.drop(['class/ASD'], 1)
autismDiagnosis = data['class/ASD']

In [179]:
# Printing out x table
prediction.loc[:10]

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,age,gender,ethnicity,jundice,family_history_of_autism,contry_of_res,used_app_before,relation
0,1,1,0,0,1,1,0,1,0,0,6,m,Others,no,no,Jordan,no,Parent
1,1,1,0,0,1,1,0,1,0,0,6,m,'Middle Eastern ',no,no,Jordan,no,Parent
2,1,1,0,0,0,1,1,1,0,0,6,m,?,no,no,Jordan,yes,?
3,0,1,0,0,1,1,0,0,0,1,5,f,?,yes,no,Jordan,no,?
4,1,1,1,1,1,1,1,1,1,1,5,m,Others,yes,no,'United States',no,Parent
5,0,0,1,0,1,1,0,1,0,1,4,m,?,no,yes,Egypt,no,?
6,1,0,1,1,1,1,0,1,0,1,5,m,White-European,no,no,'United Kingdom',no,Parent
7,1,1,1,1,1,1,1,1,0,0,5,f,'Middle Eastern ',no,no,Bahrain,no,Parent
8,1,1,1,1,1,1,1,0,0,0,11,f,'Middle Eastern ',no,no,Bahrain,no,Parent
9,0,0,1,1,1,0,1,1,0,0,11,f,?,no,yes,Austria,no,?
10,1,0,0,0,1,1,1,1,1,1,10,m,White-European,yes,no,'United Kingdom',no,Self

In [180]:
predictionWithDummies = pd.get_dummies(prediction)

In [181]:
predictionWithDummies.loc[:10]

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,...,contry_of_res_Syria,contry_of_res_Turkey,used_app_before_no,used_app_before_yes,relation_'Health care professional',relation_?,relation_Parent,relation_Relative,relation_Self,relation_self
0,1,1,0,0,1,1,0,1,0,0,...,0,0,1,0,0,0,1,0,0,0
1,1,1,0,0,1,1,0,1,0,0,...,0,0,1,0,0,0,1,0,0,0
2,1,1,0,0,0,1,1,1,0,0,...,0,0,0,1,0,1,0,0,0,0
3,0,1,0,0,1,1,0,0,0,1,...,0,0,1,0,0,1,0,0,0,0
4,1,1,1,1,1,1,1,1,1,1,...,0,0,1,0,0,0,1,0,0,0
5,0,0,1,0,1,1,0,1,0,1,...,0,0,1,0,0,1,0,0,0,0
6,1,0,1,1,1,1,0,1,0,1,...,0,0,1,0,0,0,1,0,0,0
7,1,1,1,1,1,1,1,1,0,0,...,0,0,1,0,0,0,1,0,0,0
8,1,1,1,1,1,1,1,0,0,0,...,0,0,1,0,0,0,1,0,0,0
9,0,0,1,1,1,0,1,1,0,0,...,0,0,1,0,0,1,0,0,0,0
10,1,0,0,0,1,1,1,1,1,1,...,0,0,1,0,0,0,0,0,1,0

In [182]:
predictionWithDummies.columns.values

array(['A1_Score', 'A2_Score', 'A3_Score', 'A4_Score', 'A5_Score',
       'A6_Score', 'A7_Score', 'A8_Score', 'A9_Score', 'A10_Score',
       'age_10', 'age_11', 'age_4', 'age_5', 'age_6', 'age_7', 'age_8',
       'age_9', 'age_?', 'gender_f', 'gender_m',
       "ethnicity_'Middle Eastern '", "ethnicity_'South Asian'",
       'ethnicity_?', 'ethnicity_Asian', 'ethnicity_Black',
       'ethnicity_Hispanic', 'ethnicity_Latino', 'ethnicity_Others',
       'ethnicity_Pasifika', 'ethnicity_Turkish',
       'ethnicity_White-European', 'jundice_no', 'jundice_yes',
       'family_history_of_autism_no', 'family_history_of_autism_yes',
       "contry_of_res_'Costa Rica'", "contry_of_res_'Isle of Man'",
       "contry_of_res_'New Zealand'", "contry_of_res_'Saudi Arabia'",
       "contry_of_res_'South Africa'", "contry_of_res_'South Korea'",
       "contry_of_res_'U.S. Outlying Islands'",
       "contry_of_res_'United Arab Emirates'",
       "contry_of_res_'United Kingdom'", "contry_of_res_'United States'",
       'contry_of_res_Afghanistan', 'contry_of_res_Argentina',
       'contry_of_res_Armenia', 'contry_of_res_Australia',
       'contry_of_res_Austria', 'contry_of_res_Bahrain',
       'contry_of_res_Bangladesh', 'contry_of_res_Bhutan',
       'contry_of_res_Brazil', 'contry_of_res_Bulgaria',
       'contry_of_res_Canada', 'contry_of_res_China',
       'contry_of_res_Egypt', 'contry_of_res_Europe',
       'contry_of_res_Georgia', 'contry_of_res_Germany',
       'contry_of_res_Ghana', 'contry_of_res_India', 'contry_of_res_Iraq',
       'contry_of_res_Ireland', 'contry_of_res_Italy',
       'contry_of_res_Japan', 'contry_of_res_Jordan',
       'contry_of_res_Kuwait', 'contry_of_res_Latvia',
       'contry_of_res_Lebanon', 'contry_of_res_Libya',
       'contry_of_res_Malaysia', 'contry_of_res_Malta',
       'contry_of_res_Mexico', 'contry_of_res_Nepal',
       'contry_of_res_Netherlands', 'contry_of_res_Nigeria',
       'contry_of_res_Oman', 'contry_of_res_Pakistan',
       'contry_of_res_Philippines', 'contry_of_res_Qatar',
       'contry_of_res_Romania', 'contry_of_res_Russia',
       'contry_of_res_Sweden', 'contry_of_res_Syria',
       'contry_of_res_Turkey', 'used_app_before_no',
       'used_app_before_yes', "relation_'Health care professional'",
       'relation_?', 'relation_Parent', 'relation_Relative',
       'relation_Self', 'relation_self'], dtype=object)

In [183]:
# Printing out an example for one patient
predictionWithDummies.loc[0]

A1_Score                               1
A2_Score                               1
A3_Score                               0
A4_Score                               0
A5_Score                               1
A6_Score                               1
A7_Score                               0
A8_Score                               1
A9_Score                               0
A10_Score                              0
age_10                                 0
age_11                                 0
age_4                                  0
age_5                                  0
age_6                                  1
age_7                                  0
age_8                                  0
age_9                                  0
age_?                                  0
gender_f                               0
gender_m                               1
ethnicity_'Middle Eastern '            0
ethnicity_'South Asian'                0
ethnicity_?                            0
ethnicity_Asian                        0
ethnicity_Black                        0
ethnicity_Hispanic                     0
ethnicity_Latino                       0
ethnicity_Others                       1
ethnicity_Pasifika                     0
                                      ..
contry_of_res_Italy                    0
contry_of_res_Japan                    0
contry_of_res_Jordan                   1
contry_of_res_Kuwait                   0
contry_of_res_Latvia                   0
contry_of_res_Lebanon                  0
contry_of_res_Libya                    0
contry_of_res_Malaysia                 0
contry_of_res_Malta                    0
contry_of_res_Mexico                   0
contry_of_res_Nepal                    0
contry_of_res_Netherlands              0
contry_of_res_Nigeria                  0
contry_of_res_Oman                     0
contry_of_res_Pakistan                 0
contry_of_res_Philippines              0
contry_of_res_Qatar                    0
contry_of_res_Romania                  0
contry_of_res_Russia                   0
contry_of_res_Sweden                   0
contry_of_res_Syria                    0
contry_of_res_Turkey                   0
used_app_before_no                     1
used_app_before_yes                    0
relation_'Health care professional'    0
relation_?                             0
relation_Parent                        1
relation_Relative                      0
relation_Self                          0
relation_self                          0
Name: 0, Length: 96, dtype: int64

In [184]:
# Converting the class data to categorical values
autismDiagnosisDummies = pd.get_dummies(autismDiagnosis)

In [185]:
autismDiagnosisDummies.iloc[:10]

   NO  YES
0   1    0
1   1    0
2   1    0
3   1    0
4   0    1
5   1    0
6   0    1
7   0    1
8   0    1
9   1    0

In [186]:
from sklearn import model_selection
# splite the X, Y data into training and testing datasets
X_train, X_test, Y_train, Y_test = model_selection.train_test_split(predictionWithDummies, autismDiagnosisDummies, test_size = 0.2)

In [187]:
print X_train.shape
print X_test.shape
print Y_train.shape
print Y_test.shape
#END OF DATA PRE-PROCESSING PHASE

(233, 96)
(59, 96)
(233, 2)
(59, 2)

In [188]:
# Building a neural network using Keras
from keras.models import Sequential
from keras.layers import Dense
from keras.optimizers import Adam

#Defining a function to build the Keras model
def create_model():
    #create model
    model = Sequential()
    model.add(Dense(8, input_dim = 96, kernel_initializer = 'normal', activation = 'relu'))
    model.add(Dense(4, kernel_initializer = 'normal', activation = 'relu'))
    model.add(Dense(2, activation = 'sigmoid'))
    
    #compile the model
    adam = Adam(lr = 0.001)
    model.compile(loss = 'categorical_crossentropy', optimizer = adam, metrics = ['accuracy'])
    
    return model

In [189]:
#Create the model
model = create_model()
print(model.summary())

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_40 (Dense)             (None, 8)                 776
_________________________________________________________________
dense_41 (Dense)             (None, 4)                 36
_________________________________________________________________
dense_42 (Dense)             (None, 2)                 10
=================================================================
Total params: 822
Trainable params: 822
Non-trainable params: 0
_________________________________________________________________
None

In [190]:
# Fitting the model to the training data
model.fit(X_train, Y_train, epochs = 50, batch_size = 10, verbose = 1)

Epoch 1/50
233/233 [==============================] - 0s 47us/step - loss: 0.6927 - acc: 0.5579
Epoch 2/50
233/233 [==============================] - 0s 47us/step - loss: 0.6908 - acc: 0.7468
Epoch 3/50
233/233 [==============================] - 0s 52us/step - loss: 0.6857 - acc: 0.8455
Epoch 4/50
233/233 [==============================] - 0s 52us/step - loss: 0.6767 - acc: 0.7468
Epoch 5/50
233/233 [==============================] - 0s 52us/step - loss: 0.6627 - acc: 0.7597
Epoch 6/50
233/233 [==============================] - 0s 52us/step - loss: 0.6436 - acc: 0.7854
Epoch 7/50
233/233 [==============================] - 0s 47us/step - loss: 0.6192 - acc: 0.7639
Epoch 8/50
233/233 [==============================] - 0s 47us/step - loss: 0.5883 - acc: 0.8412
Epoch 9/50
233/233 [==============================] - 0s 52us/step - loss: 0.5561 - acc: 0.8326
Epoch 10/50
233/233 [==============================] - 0s 47us/step - loss: 0.5203 - acc: 0.8841
Epoch 11/50
233/233 [==============================] - 0s 52us/step - loss: 0.4871 - acc: 0.8670
Epoch 12/50
233/233 [==============================] - 0s 47us/step - loss: 0.4549 - acc: 0.9099
Epoch 13/50
233/233 [==============================] - 0s 47us/step - loss: 0.4256 - acc: 0.9142
Epoch 14/50
233/233 [==============================] - 0s 47us/step - loss: 0.3964 - acc: 0.8970
Epoch 15/50
233/233 [==============================] - 0s 47us/step - loss: 0.3694 - acc: 0.9099
Epoch 16/50
233/233 [==============================] - 0s 60us/step - loss: 0.3456 - acc: 0.9227
Epoch 17/50
233/233 [==============================] - 0s 47us/step - loss: 0.3202 - acc: 0.9313
Epoch 18/50
233/233 [==============================] - 0s 52us/step - loss: 0.2983 - acc: 0.9700
Epoch 19/50
233/233 [==============================] - 0s 52us/step - loss: 0.2769 - acc: 0.9399
Epoch 20/50
233/233 [==============================] - 0s 52us/step - loss: 0.2531 - acc: 0.9657
Epoch 21/50
233/233 [==============================] - 0s 47us/step - loss: 0.2341 - acc: 0.9785
Epoch 22/50
233/233 [==============================] - 0s 43us/step - loss: 0.2151 - acc: 0.9828
Epoch 23/50
233/233 [==============================] - 0s 47us/step - loss: 0.2012 - acc: 0.9614
Epoch 24/50
233/233 [==============================] - 0s 52us/step - loss: 0.1820 - acc: 0.9828
Epoch 25/50
233/233 [==============================] - 0s 52us/step - loss: 0.1678 - acc: 0.9914
Epoch 26/50
233/233 [==============================] - 0s 52us/step - loss: 0.1556 - acc: 0.9871
Epoch 27/50
233/233 [==============================] - 0s 47us/step - loss: 0.1443 - acc: 0.9914
Epoch 28/50
233/233 [==============================] - 0s 52us/step - loss: 0.1310 - acc: 0.9914
Epoch 29/50
233/233 [==============================] - 0s 43us/step - loss: 0.1232 - acc: 0.9914
Epoch 30/50
233/233 [==============================] - 0s 56us/step - loss: 0.1120 - acc: 0.9914
Epoch 31/50
233/233 [==============================] - 0s 47us/step - loss: 0.1034 - acc: 0.9957
Epoch 32/50
233/233 [==============================] - 0s 47us/step - loss: 0.0964 - acc: 0.9957
Epoch 33/50
233/233 [==============================] - 0s 47us/step - loss: 0.0908 - acc: 0.9957
Epoch 34/50
233/233 [==============================] - 0s 52us/step - loss: 0.0829 - acc: 0.9957
Epoch 35/50
233/233 [==============================] - 0s 47us/step - loss: 0.0786 - acc: 1.0000
Epoch 36/50
233/233 [==============================] - 0s 52us/step - loss: 0.0766 - acc: 0.9957
Epoch 37/50
233/233 [==============================] - 0s 47us/step - loss: 0.0697 - acc: 1.0000
Epoch 38/50
233/233 [==============================] - 0s 47us/step - loss: 0.0625 - acc: 1.0000
Epoch 39/50
233/233 [==============================] - 0s 52us/step - loss: 0.0587 - acc: 1.0000
Epoch 40/50
233/233 [==============================] - 0s 60us/step - loss: 0.0561 - acc: 1.0000
Epoch 41/50
233/233 [==============================] - 0s 47us/step - loss: 0.0523 - acc: 1.0000
Epoch 42/50
233/233 [==============================] - 0s 47us/step - loss: 0.0499 - acc: 1.0000
Epoch 43/50
233/233 [==============================] - 0s 47us/step - loss: 0.0472 - acc: 1.0000
Epoch 44/50
233/233 [==============================] - 0s 47us/step - loss: 0.0426 - acc: 1.0000
Epoch 45/50
233/233 [==============================] - 0s 52us/step - loss: 0.0403 - acc: 1.0000
Epoch 46/50
233/233 [==============================] - 0s 47us/step - loss: 0.0379 - acc: 1.0000
Epoch 47/50
233/233 [==============================] - 0s 52us/step - loss: 0.0357 - acc: 1.0000
Epoch 48/50
233/233 [==============================] - 0s 47us/step - loss: 0.0335 - acc: 1.0000
Epoch 49/50
233/233 [==============================] - 0s 47us/step - loss: 0.0315 - acc: 1.0000
Epoch 50/50
233/233 [==============================] - 0s 47us/step - loss: 0.0297 - acc: 1.0000

In [191]:
# Generating a classification report using predictions from the model
from sklearn.metrics import classification_report, accuracy_score

predictions = model.predict_classes(X_test)

In [192]:
predictions

array([0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0,
       0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1,
       0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1], dtype=int64)

In [193]:
print('Prediction Results for Neural Network')
print(accuracy_score(Y_test[['YES']], predictions))
print(classification_report(Y_test[['YES']], predictions))

Prediction Results for Neural Network
0.9152542372881356
              precision    recall  f1-score   support

           0       0.92      0.89      0.91        27
           1       0.91      0.94      0.92        32

   micro avg       0.92      0.92      0.92        59
   macro avg       0.92      0.91      0.91        59
weighted avg       0.92      0.92      0.92        59